.adminfooter{
    background: linear-gradient(rgb(57, 68, 189),rgb(35, 43, 144),rgb(21, 28, 120)) ;
    color: white;
    padding: 30px;
}
.adminfooter .links{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px 280px;
    padding: 30px;
    text-align: left;
}
#about a,.sub-link a{
    text-decoration: none;
    color: white;
}
#about span{
    color: red;
    font-weight: 200;
}
.sub-link li{
    font-weight: 200;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none; 
    margin: 5px 0;
    color: rgb(182, 181, 181);
}
.sub-link li:hover{
    color: white;
}


@media (min-width:1200px) {
    .adminfooter .links{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px 250px;
        padding: 30px;
        text-align: left;
    }
}

@media (max-width:600px) {
    .adminfooter .links{
        display: grid;
        grid-template-columns: 300px;
        padding: 30px;
        text-align: left;
    }
    .sub-link{
        position: relative;
        right: 30px;
    }
}