.adminlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.adminlogin input{
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    color: white;
    margin-top: 10px;
    background-color: transparent;
}
.adminlogin input::placeholder{
    color: rgb(230, 223, 223);
}
.adminlogin .btn{
    padding: 5px 18px;
    margin-bottom: 10px;
    font-size: 18px;
}
.adminlogin .btn:hover{
    background-color: white;
    border: 1px solid red;
    color: black;
}
.adminlogin form{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}.adminlogin form h2{
    margin: 10px;
}
.adminlogin form p{
    margin-top: 10px;
}
