.userlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.userlogin input{
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    margin-top: 10px;
    background-color: transparent;
    color: white;
}
.userlogin input::placeholder{
    color: white;
}
.userlogin .btn{
    padding: 5px 18px;
    margin-bottom: 10px;
    font-size: 18px;
}
.userlogin .btn:hover{
    background-color: white;
    border: 1px solid blue;
    color: black;
}
.userlogin form{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}.userlogin form h2{
    margin: 10px;
}
.userlogin form p{
    margin-top: 10px;
}
